# Desiging recommanding engine that match users with eachother

In [1]:
# we genereate a rondom data in order to make recomandtion working 
## First we did user recondation that maps people who share same interset.

In [2]:
# import libraries 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns


# set display rows to 1000
pd.set_option('display.max_rows',200)
pd.set_option('display.max_columns',200)

In [3]:
# reading data 
data = pd.read_csv('Community.csv')

In [4]:
# displaying head to what my data looks like 
data.head()

  First Name Last Name  Gender  Age Interest
0      Jenna    Murray  Female   18        p
1     Lyndon  Crawford    Male   22        g
2    Vanessa      Hunt  Female   25        e
3        Ted   Barrett    Male   22        l
4      Edwin    Harris    Male   18        j

In [5]:
# setting iD for Community ID
data= data.reset_index().rename({'index':'communityID'}, axis =1)

In [6]:
# displaying that 
data.head()

   communityID First Name Last Name  Gender  Age Interest
0            0      Jenna    Murray  Female   18        p
1            1     Lyndon  Crawford    Male   22        g
2            2    Vanessa      Hunt  Female   25        e
3            3        Ted   Barrett    Male   22        l
4            4      Edwin    Harris    Male   18        j

In [7]:
data.Interest.value_counts()

y    13
j    11
t    11
w    11
c    11
a    10
b    10
x     9
g     9
d     8
p     8
h     8
z     7
i     7
l     7
k     7
v     6
u     6
e     6
q     6
s     6
m     6
f     5
r     4
n     4
o     4
Name: Interest, dtype: int64

In [8]:
# Assigning dicstionary 
interests_dict = {'y': 'Devoloper',
'w': 'Data Science',
'j': 'basketball',
'c': 'Games',
't': 'Hicking',
'b': 'Music',
'a': 'Coffee',
'g': 'Entrepreneurs',
'p': 'Vollyball',
'h': 'Football',
'd': 'Anime',
'z': 'Moveies',
'l': 'Gym',
'i': 'Diet',
'k': 'Self development',
'v': 'History',
'u': 'Religon',
's': 'Travel',
'e': 'Diving',
'q': 'Swimming',
'm': 'Fishing',
'f': 'Hunting',
'o': 'Cars',
'n': 'Techenology',
'r': 'Food',
'x': 'Phtoghraphy'}
interests_list = list(interests_dict.values())

In [9]:
# map interests_dict 
data.Interest = data.Interest.map(interests_dict)

In [10]:
# applay random so we can generate random communities
import random

data['Interest2']= ''
data['Interest3']= ''
data['Interest4']= ''
data['Interest5']= ''

for i in range(200):
    random.seed(i)
    data.loc[i,['Interest','Interest2','Interest3','Interest4','Interest5']] = random.sample(interests_list, 5)

In [11]:
# combian communities 

cols = ['Interest','Interest2','Interest3','Interest4','Interest5']
data['combined'] = data[cols].apply(lambda row: ', '.join(row.values.astype(str)), axis=1)

In [12]:
data.sample(10)

,communityID,First Name,Last Name,Gender,Age,Interest,Interest2,Interest3,Interest4,Interest5,combined
31,31,Joyce,Bennett,Female,25,Devoloper,History,Games,Food,Gym,"Devoloper, History, Games, Food, Gym"
168,168,Lyndon,Sullivan,Male,18,Techenology,Games,Religon,Moveies,Gym,"Techenology, Games, Religon, Moveies, Gym"
41,41,Alberta,Carter,Female,26,Gym,Anime,Entrepreneurs,Music,Diving,"Gym, Anime, Entrepreneurs, Music, Diving"
32,32,Cadie,Hall,Female,19,basketball,Coffee,Hicking,Football,Cars,"basketball, Coffee, Hicking, Football, Cars"
79,79,Camila,Andrews,Female,21,Hicking,Self development,Moveies,Swimming,Music,"Hicking, Self development, Moveies, Swimming, ..."
121,121,Freddie,Owens,Male,30,basketball,Coffee,Diving,Gym,Fishing,"basketball, Coffee, Diving, Gym, Fishing"
137,137,Paige,Chapman,Female,30,basketball,Music,Diet,Anime,Coffee,"basketball, Music, Diet, Anime, Coffee"
9,9,Honey,Warren,Female,25,Self development,Swimming,Moveies,Vollyball,Hicking,"Self development, Swimming, Moveies, Vollyball..."
2,2,Vanessa,Hunt,Female,25,Data Science,basketball,Moveies,Music,Techenology,"Data Science, basketball, Moveies, Music, Tech..."
125,125,Miranda,Harris,Female,23,Entrepreneurs,Phtoghraphy,Swimming,Football,Diving,"Entrepreneurs, Phtoghraphy, Swimming, Football..."

In [13]:
# implement recommanding system (C)

In [14]:
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [15]:
community_tfidf = TfidfVectorizer()

In [16]:
community_description_matrix = community_tfidf.fit_transform(data['combined'])

In [17]:
community_description_matrix.shape

(200, 28)

In [18]:
community_description_matrix.toarray()

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.41691144],
       [0.        , 0.4489234 , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.40555306, 0.        , ..., 0.40177937, 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.45955016, ..., 0.        , 0.43350401,
        0.        ],
       [0.        , 0.        , 0.42855713, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.42411332, 0.        ,
        0.44506606]])

In [19]:
cosine_similarity = linear_kernel(community_description_matrix, community_description_matrix)

In [20]:
indices = pd.Series(data[['Interest','Interest2','Interest3','Interest4','Interest5']].index)

In [21]:
def recommend(index, cosine_sim=cosine_similarity):
    id = indices[index]
    
    # Get the pairwsie similarity scores of all users 
    # sorting them and getting top 5
    
    similarity_scores = list(enumerate(cosine_sim[id]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores = similarity_scores[1:6]

    # Get the users index
    community_index = [i[0] for i in similarity_scores]

    # Return the top 5 most similar user using integer-location based indexing (iloc)
    return data.iloc[community_index]

In [22]:
recommend(10)

,communityID,First Name,Last Name,Gender,Age,Interest,Interest2,Interest3,Interest4,Interest5,combined
136,136,Alford,Montgomery,Male,21,Diving,Diet,Religon,Data Science,History,"Diving, Diet, Religon, Data Science, History"
98,98,Paige,Parker,Female,27,Moveies,Diving,Data Science,Diet,History,"Moveies, Diving, Data Science, Diet, History"
165,165,Dominik,Wells,Male,19,Devoloper,Data Science,Cars,Diet,basketball,"Devoloper, Data Science, Cars, Diet, basketball"
127,127,Mike,Hawkins,Male,24,Data Science,Swimming,Diving,Games,Devoloper,"Data Science, Swimming, Diving, Games, Devoloper"
198,198,Lucas,Carroll,Male,29,Data Science,Diving,Cars,History,Games,"Data Science, Diving, Cars, History, Games"

# Desiging recommanding engine that match users with community

In [23]:
df= pd.read_csv('community-2.csv')

In [24]:
df= df.reset_index().rename({'index':'communityID'}, axis =1) 
df= df.rename({'community_id':'user_id'}, axis =1)

In [25]:
df.head()

   communityID  user_id  community_ratings
0            0      241                  1
1            1      226                  0
2            2      230                  3
3            3      237                  5
4            4      290                  2

In [26]:
data.shape

(200, 11)

In [27]:
df.shape

(200, 3)

In [28]:
merge_df = pd.merge(df,data,on='communityID')
merge_df.head()

,communityID,user_id,community_ratings,First Name,Last Name,Gender,Age,Interest,Interest2,Interest3,Interest4,Interest5,combined
0,0,241,1,Jenna,Murray,Female,18,Gym,Food,Diet,Data Science,Vollyball,"Gym, Food, Diet, Data Science, Vollyball"
1,1,226,0,Lyndon,Crawford,Male,22,Hicking,Diving,Phtoghraphy,Food,basketball,"Hicking, Diving, Phtoghraphy, Food, basketball"
2,2,230,3,Vanessa,Hunt,Female,25,Data Science,basketball,Moveies,Music,Techenology,"Data Science, basketball, Moveies, Music, Tech..."
3,3,237,5,Ted,Barrett,Male,22,Entrepreneurs,Diving,Travel,Hicking,Moveies,"Entrepreneurs, Diving, Travel, Hicking, Moveies"
4,4,290,2,Edwin,Harris,Male,18,Entrepreneurs,Football,Games,Techenology,Gym,"Entrepreneurs, Football, Games, Techenology, Gym"

In [29]:
merge_df.shape

(200, 13)

In [30]:
n_users = merge_df.user_id.nunique()
n_community = merge_df.communityID.nunique()

print('Num. of Users: '+ str(n_users))
print('Num of Community: '+str(n_community))

Num. of Users: 131
Num of Community: 200

In [31]:
# communities have highest rate average 
ratings = pd.DataFrame(merge_df.groupby('combined')['community_ratings'].mean())
ratings.head()

                                                    community_ratings
combined
Anime, Data Science, Devoloper, Phtoghraphy, Fo...                  5
Anime, Gym, Coffee, Entrepreneurs, Football                         1
Anime, Hicking, Gym, Fishing, Data Science                          4
Anime, History, Hunting, Food, Phtoghraphy                          2
Anime, Hunting, Diet, Travel, Food                                  4

In [32]:
# communities have highest rate count
ratings['num of ratings'] = pd.Series(merge_df.groupby('combined')['community_ratings'].count())
ratings.head()

,community_ratings,num of ratings
combined,,
"Anime, Data Science, Devoloper, Phtoghraphy, Football",5,1
"Anime, Gym, Coffee, Entrepreneurs, Football",1,1
"Anime, Hicking, Gym, Fishing, Data Science",4,1
"Anime, History, Hunting, Food, Phtoghraphy",2,1
"Anime, Hunting, Diet, Travel, Food",4,1

In [33]:
ratings.sort_values('num of ratings',ascending=False).head(10)

,community_ratings,num of ratings
combined,,
"Anime, Data Science, Devoloper, Phtoghraphy, Football",5,1
"Phtoghraphy, Moveies, Diving, Anime, basketball",4,1
"Moveies, basketball, Diet, Travel, Self development",3,1
"Music, Data Science, Devoloper, Entrepreneurs, Hicking",4,1
"Music, Diet, Cars, Fishing, Football",0,1
"Music, Fishing, Swimming, Diet, Devoloper",5,1
"Music, Games, Hunting, Self development, Anime",4,1
"Phtoghraphy, Cars, Entrepreneurs, Vollyball, Devoloper",0,1
"Phtoghraphy, Devoloper, Self development, History, Moveies",0,1
"Phtoghraphy, Diving, basketball, History, Food",0,1

In [34]:
moviemat = merge_df.pivot_table(index='communityID', columns='combined', values='community_ratings')
moviemat.head()

combined,"Anime, Data Science, Devoloper, Phtoghraphy, Football","Anime, Gym, Coffee, Entrepreneurs, Football","Anime, Hicking, Gym, Fishing, Data Science","Anime, History, Hunting, Food, Phtoghraphy","Anime, Hunting, Diet, Travel, Food","Anime, Moveies, Food, Religon, basketball","Anime, Religon, Swimming, Phtoghraphy, Devoloper","Cars, Diet, Fishing, Techenology, Coffee","Cars, Fishing, Music, Football, Games","Cars, Gym, Diving, Music, Coffee","Cars, History, Devoloper, Travel, Religon","Cars, Self development, Techenology, Coffee, basketball","Coffee, Anime, History, Gym, Diet","Coffee, Cars, Swimming, Games, Anime","Coffee, Cars, basketball, History, Hunting","Coffee, Devoloper, Religon, Techenology, Data Science","Coffee, Diet, Phtoghraphy, Moveies, Data Science","Coffee, Games, Football, Hunting, Techenology","Coffee, Games, basketball, Data Science, Religon","Coffee, Gym, Self development, Cars, Football","Coffee, History, Diet, Diving, Cars","Coffee, Phtoghraphy, Gym, History, Self development","Coffee, Vollyball, Gym, Devoloper, Entrepreneurs","Data Science, Cars, Fishing, Coffee, Religon","Data Science, Diving, Cars, History, Games","Data Science, Football, Cars, Food, Hicking","Data Science, Moveies, Diving, Swimming, Devoloper","Data Science, Swimming, Diving, Games, Devoloper","Data Science, Vollyball, basketball, Food, Diet","Data Science, basketball, Moveies, Music, Techenology","Devoloper, Cars, Swimming, Travel, Hunting","Devoloper, Coffee, Techenology, Food, Entrepreneurs","Devoloper, Data Science, Cars, Diet, basketball","Devoloper, Data Science, Food, Entrepreneurs, Games","Devoloper, Fishing, Phtoghraphy, Techenology, Vollyball","Devoloper, History, Games, Food, Gym","Diet, Football, Religon, Entrepreneurs, Self development","Diet, Hicking, Data Science, Music, Football","Diet, Religon, Diving, Travel, Phtoghraphy","Diet, Religon, Travel, Cars, Games","Diving, Cars, Games, Data Science, Anime","Diving, Cars, Hunting, Fishing, History","Diving, Coffee, Techenology, Fishing, Data Science","Diving, Coffee, Travel, Moveies, Self development","Diving, Data Science, Diet, History, Devoloper","Diving, Data Science, Swimming, Self development, Entrepreneurs","Diving, Diet, Religon, Data Science, History","Diving, Moveies, Phtoghraphy, Games, Devoloper","Diving, Music, Fishing, Entrepreneurs, Vollyball","Diving, Music, basketball, Entrepreneurs, Self development","Diving, Phtoghraphy, Religon, Vollyball, Data Science","Diving, Religon, Travel, Football, Hunting","Entrepreneurs, Diving, Games, Anime, Hunting","Entrepreneurs, Diving, Travel, Hicking, Moveies","Entrepreneurs, Football, Games, Techenology, Gym","Entrepreneurs, Gym, Religon, Moveies, Hicking","Entrepreneurs, Moveies, Gym, Hicking, Coffee","Entrepreneurs, Music, Coffee, Gym, Travel","Entrepreneurs, Phtoghraphy, Swimming, Football, Diving","Entrepreneurs, Religon, Travel, Music, Vollyball","Entrepreneurs, Swimming, Diving, Food, Techenology","Entrepreneurs, basketball, Anime, Diet, Food","Entrepreneurs, basketball, Fishing, Self development, Devoloper","Fishing, Diet, Food, Techenology, Games","Fishing, Games, Devoloper, Techenology, Vollyball","Fishing, History, Cars, Vollyball, Football","Fishing, Religon, Cars, Devoloper, Phtoghraphy","Food, Football, basketball, Devoloper, Diving","Food, Games, Devoloper, Vollyball, Travel","Food, Gym, Fishing, Hicking, Coffee","Food, Phtoghraphy, Diet, Religon, Devoloper","Food, Religon, Phtoghraphy, Travel, Hicking","Food, Travel, Religon, Techenology, Phtoghraphy","Football, Coffee, Food, Games, Travel","Football, Diving, Hicking, Vollyball, Entrepreneurs","Football, Music, Techenology, Phtoghraphy, Travel","Games, Football, Cars, Self development, Hicking","Games, Religon, Anime, Gym, Music","Games, Swimming, Cars, Food, Fishing","Games, Techenology, Football, Vollyball, Self development","Games, Techenology, Hicking, Travel, Swimming","Games, Travel, Self development, Fishing, Entrepreneurs","Games, basketball, Techenology, Devoloper, Moveies","Gym, Anime, Entrepreneurs, Music, Diving","Gym, Cars, Fishing, Phtoghraphy, Data Science","Gym, Coffee, Anime, Music, Fishing","Gym, Coffee, Swimming, Music, Entrepreneurs","Gym, Food, Devoloper, Coffee, Football","Gym, Food, Diet, Data Science, Vollyball","Gym, Music, Hunting, Self development, Entrepreneurs","Gym, Phtoghraphy, Swimming, Entrepreneurs, Diet","Hicking, Cars, basketball, Hunting, Gym","Hicking, Diving, Phtoghraphy, Food, basketball","Hicking, Entrepreneurs, Devoloper, Swimming, Self development","Hicking, Food, History, Religon, Football","Hicking, Hunting, Swimming, Moveies, Music","Hicking, Self development, Food, Music, Cars","Hicking, Self development, Moveies, Swimming, Music","Hicking, Self development, Travel, Football, History","Hicking, Swimming, Anime, Food, Phtoghraphy","Hicking, Techenology, Coffee, Travel, Games","Hicking, basketball, Hunting, Devoloper, Swimming","History, Diet, Techenology, Entrepreneurs, Food","History, Diving, Techenology, Moveies, Games","History, Games, Fishing, Swimming, Gym","History, Hunting, Diving, Swimming, Football","History, Moveies, Anime, Food, Swimming","History, Music, Travel, Coffee, Phtoghraphy","History, Religon, Coffee, Techenology, Travel","History, Self development, basketball, Hicking, Gym","History, Techenology, Vollyball, Hicking, Diving","History, Vollyball, Hunting, Religon, Moveies","History, Vollyball, Moveies, Fishing, Entrepreneurs","History, basketball, Data Science, Vollyball, Cars","Hunting, Data Science, Games, Phtoghraphy, Music","Hunting, Data Science, Phtoghraphy, Religon, Games","Hunting, Entrepreneurs, Games, Data Science, Diet","Hunting, Moveies, Fishing, Diving, Vollyball","Hunting, Swimming, basketball, Techenology, Fishing","Moveies, Anime, Hunting, Gym, Coffee","Moveies, Coffee, Football, Techenology, Data Science","Moveies, Diving, Data Science, Diet, History","Moveies, Football, basketball, Self development, Diet","Moveies, History, Football, Diet, Entrepreneurs","Moveies, History, Phtoghraphy, Diving, Hicking","Moveies, Self development, Gym, Coffee, Football","Moveies, Techenology, Gym, Vollyball, Hunting","Moveies, basketball, Diet, Travel, Self development","Music, Data Science, Devoloper, Entrepreneurs, Hicking","Music, Diet, Cars, Fishing, Football","Music, Fishing, Swimming, Diet, Devoloper","Music, Games, Hunting, Self development, Anime","Phtoghraphy, Cars, Entrepreneurs, Vollyball, Devoloper","Phtoghraphy, Devoloper, Self development, History, Moveies","Phtoghraphy, Diving, basketball, History, Food","Phtoghraphy, Food, Devoloper, Travel, Anime","Phtoghraphy, Games, Hicking, Football, Diving","Phtoghraphy, Moveies, Diving, Anime, basketball","Phtoghraphy, Travel, Gym, Diet, Games","Phtoghraphy, Vollyball, Anime, Coffee, Entrepreneurs","Religon, Coffee, Swimming, Football, basketball","Religon, Coffee, Travel, Music, Entrepreneurs","Religon, Diet, Phtoghraphy, Football, Moveies","Religon, Diet, Vollyball, Phtoghraphy, Techenology","Religon, Entrepreneurs, Coffee, Fishing, Techenology","Religon, Food, Devoloper, Diving, Phtoghraphy","Religon, Moveies, Diving, Devoloper, Entrepreneurs","Religon, Self development, Anime, Travel, Gym","Self development, Data Science, basketball, Techenology, Music","Self development, Diving, Diet, Data Science, Techenology","Self development, Diving, Religon, Data Science, Entrepreneurs","Self development, Entrepreneurs, Data Science, Techenology, Diving","Self development, Football, Vollyball, History, Hunting","Self development, Moveies, Entrepreneurs, Anime, Football","Self development, Swimming, Moveies, Vollyball, Hicking","Self development, Travel, Food, Religon, Diving","Swimming, Coffee, Self development, Religon, Cars","Swimming, Fishing, Hicking, Gym, Self development","Swimming, Gym, Data Science, Fishing, Coffee","Swimming, History, Entrepreneurs, Music, Devoloper","Swimming, Religon, Games, Anime, Phtoghraphy","Swimming, Vollyball, Techenology, Moveies, Phtoghraphy","Swimming, basketball, Diving, Hicking, Moveies","Techenology, Coffee, Hunting, Diet, Swimming","Techenology, Football, Food, Data Science, History","Techenology, Games, Religon, Moveies, Gym","Techenology, Hunting, Phtoghraphy, Food, Hicking","Techenology, Self development, Cars, Religon, Games","Techenology, Swimming, Travel, Football, Devoloper","Travel, Anime, Food, Hicking, Techenology","Travel, Anime, Hicking, Cars, Football","Travel, Devoloper, Hicking, Music, Cars","Travel, Devoloper, History, Fishing, Religon","Travel, Music, Games, Vollyball, Football","Travel, Phtoghraphy, Football, Swimming, Devoloper","Travel, Self development, Food, Music, Football","Travel, Swimming, Self development, Diving, Music","Travel, basketball, Moveies, Swimming, Football","Vollyball, Data Science, Techenology, Religon, History","Vollyball, Devoloper, Entrepreneurs, Cars, Anime","Vollyball, Diet, History, basketball, Football","Vollyball, Entrepreneurs, Self development, Travel, Data Science","Vollyball, Football, Hunting, Phtoghraphy, Music","Vollyball, Games, Religon, History, Diving","Vollyball, Gym, Travel, Cars, Diet","Vollyball, Religon, Swimming, Music, Travel","Vollyball, Travel, Devoloper, Music, Data Science","basketball, Coffee, Diving, Gym, Fishing","basketball, Coffee, Hicking, Football, Cars","basketball, Coffee, Hicking, Techenology, Football","basketball, Diving, Music, Hunting, Gym","basketball, Food, Swimming, Cars, Vollyball","basketball, Football, Diet, Entrepreneurs, Phtoghraphy","basketball, Games, Food, Diet, Self development","basketball, Games, Vollyball, Gym, Hicking","basketball, Gym, Data Science, Diving, Entrepreneurs","basketball, Moveies, Diet, Games, Anime","basketball, Music, Diet, Anime, Coffee","basketball, Music, Food, Anime, Moveies","basketball, Phtoghraphy, Swimming, Techenology, Music"
communityID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# Get rates for 'Star Wars (1977)' movie
community_user_ratings = moviemat['Entrepreneurs, Diving, Travel, Hicking, Moveies']
community_user_ratings.head()

communityID
0    NaN
1    NaN
2    NaN
3    5.0
4    NaN
Name: Entrepreneurs, Diving, Travel, Hicking, Moveies, dtype: float64

In [36]:
# get correlaion matrix 
similar_to_ = moviemat.corrwith(community_user_ratings)
corr_ = pd.DataFrame(similar_to_,columns=['Correlation'])
corr_.dropna(inplace=True)
corr_.head()

/Users/faisalshuraym/anaconda3/lib/python3.7/site-packages/numpy/lib/function_base.py:2522: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Users/faisalshuraym/anaconda3/lib/python3.7/site-packages/numpy/lib/function_base.py:2451: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

Empty DataFrame
Columns: [Correlation]
Index: []

In [37]:
corr_.sort_values('Correlation',ascending=False).head(10)

Empty DataFrame
Columns: [Correlation]
Index: []

In [38]:
corr_ = corr_.join(ratings['num of ratings'])
corr_.sort_values('Correlation',ascending=False).head(10)

Empty DataFrame
Columns: [Correlation, num of ratings]
Index: []

In [39]:
corr_[corr_['num of ratings']>100].sort_values('Correlation',ascending=False).head()

Empty DataFrame
Columns: [Correlation, num of ratings]
Index: []